@import "../../styles/style.scss";

.chestSwiper {
  .backgroundContainer {
    .imgBox {
      max-width: 800px;
      @include xs {
        padding: 0px 30px;
      }
      @include lg {
        padding: 0px 0px;
      }

      .chestBox {
        @include xs {
          justify-content: center;
        }
        @include sm {
          justify-content: flex-start;
        }
        @include lg {
          justify-content: flex-end;
        }
        .chest {
          position: relative;
          overflow: hidden;
          cursor: pointer;
          padding: 0;
          margin: 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          .baselineBox {
            position: absolute;
            overflow: hidden;
            top: 0;
            height: 100%;
          }
          img {
            @include xs {
              width: 280px;
            }
            @include sm {
              width: 520px;
            }
            @include md {
              width: 700px;
            }
            @include lg {
              width: 780px;
            }
          }
          .chest_drag {
            background: hsla(0, 0%, 100%, 0.25);
            width: 1px;
            overflow: visible;
            margin-left: -1px;
            position: absolute;
            top: 0;
            bottom: 0;
            cursor: ew-resize;
            left: 50%;
            &:before {
              background: url("../../assets/images/circle_arrows.png") no-repeat 50%;
              background-size: cover;
              border: 0;
              content: "";
              height: 50px;
              left: 50%;
              margin-left: -25px;

              position: absolute;
              top: 50%;
              width: 50px;
              @include xs {
                margin-top: 0px;
              }
              @include sm {
                margin-top: 35px;
              }
            }
          }
        }
      }

      .textBox {
        text-align: left;
        h5 {
          font-weight: 200;
          font-family: $Univers;
          color: $font_white;
        }
        p {
          font-size: 12px;
          font-family: $Univers;
          color: $font_white;
        }
        .copy {
          font-size: 16px;
        }
        @include xs {
          margin-bottom: 20px;
        }
        @include lg {
          margin-bottom: 50px;
          width: 780px;
        }
      }
    }
  }
  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-button-next {
    background-image: url(../../assets/images/white_angle_right.png);
    right: auto;
    // left: 50%;
    // margin-left: 70px;
  }

  .swiper-button-prev {
    background-image: url(../../assets/images/white_angle_left.png);
    left: auto;
    // right: 50%;
    // margin-right: 70px;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: inherit;
    top: inherit;
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
    z-index: 11;
    opacity: 1;
    @include xs {
      //bottom: 13px;
      margin: 8px 0px 0px;
      background-size: 50% auto;
    }
    @include sm {
      background-size: 60% auto;
      margin: 10px 0px;
    }
  }

  .swiper-pagination-bullets {
    //bottom: 20px;
    @include xs {
      margin: 0px 5px;
    }
    @include sm {
      margin: 0px 15px;
    }
  }

  .swiper-pagination {
    position: inherit;
    @include xs {
      align-self: center;
    }
    @include sm {
      align-self: auto;
    }
    .swiper-pagination-bullet {
      // width: 15px;
      // height: 15px;
      // padding: 0px 2px;
      // background: #ffffff;
      // margin: 0px 10px !important;
      // opacity: 1;
      opacity: 1;
      @include xs {
        width: 35px;
        margin: 0px 5px;
        img {
          width: 35px;
        }
      }
      @include sm {
        width: 60px;
        margin: 0px 10px;
        img {
          width: 60px;
        }
      }
    }

    .swiper-pagination-bullet-active {
      // background: #00accd;
      img {
        border: 5px solid #00accd;
      }
    }
  }
}

.toggleBox {
  p {
    font-size: 16px;
    color: $font_middleGrey;
    font-family: $Univers;
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
  }
}
