<div class="chestSwiper">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center">
          <div class="imgBox">
            <div class="chestBox d-flex">
              <div class="chest" (mouseover)="moveArrow($event)" (mouseup)="turnOffMove($event)">
                <div class="baselineBox" [ngStyle]="{'width':baselineWidth}">
                  <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest1_baseline_en.png"
                    alt="chest 1 baseline">
                  <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest1_baseline_fr.png"
                    alt="chest 1 baseline">
                </div>
                <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest1_week12_en.png"
                  alt="chest 1 week12">
                <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest1_week12_fr.png"
                  alt="chest 1 week12">
                <span class="chest_drag" (mousedown)="turnOnMove()" [ngStyle]="{'left':baselineWidth}"></span>
              </div>
            </div>
            <div class="textBox row pt-4">
              <div class="col-12 col-md-3 mb-1">
                <h5 [innerHTML]="'EFFICACY_PROFILE.chest_study1'|translate">
                </h5>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_subject1'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_age1'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_gender1'|translate">
                </p>
              </div>
              <div class="col-12 col-md-9">
                <p class="copy" [innerHTML]="'EFFICACY_PROFILE.chest_copy1'|translate">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center">
          <div class="imgBox">
            <div class="chestBox d-flex">
              <div class="chest" (mouseover)="moveArrow($event)" (mouseup)="turnOffMove($event)">
                <div class="baselineBox" [ngStyle]="{'width':baselineWidth}">
                  <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest2_baseline_en.png"
                    alt="chest 2 baseline english">
                  <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest2_baseline_fr.png"
                    alt="chest 2 baseline french">
                </div>
                <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest2_week12_en.png"
                  alt="chest 2 week12 english">
                <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest2_week12_fr.png"
                  alt="chest 2 week12 french">
                <span class="chest_drag" (mousedown)="turnOnMove()" [ngStyle]="{'left':baselineWidth}"></span>
              </div>
            </div>
            <div class="textBox row pt-4">
              <div class="col-12 col-md-3 mb-1">
                <h5 [innerHTML]="'EFFICACY_PROFILE.chest_study2'|translate">
                </h5>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_subject2'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_age2'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_gender2'|translate">
                </p>
              </div>
              <div class="col-12 col-md-9">
                <p class="copy" [innerHTML]="'EFFICACY_PROFILE.chest_copy2'|translate">
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center">
          <div class="imgBox">
            <div class="chestBox d-flex">
              <div class="chest" (mouseover)="moveArrow($event)" (mouseup)="turnOffMove($event)">
                <div class="baselineBox" [ngStyle]="{'width':baselineWidth}">
                  <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest3_baseline_en.png"
                    alt="chest 3 baseline">
                  <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest3_baseline_fr.png"
                    alt="chest 3 baseline">
                </div>
                <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest3_week12_en.png"
                  alt="chest 3 week12">
                <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest3_week12_fr.png"
                  alt="chest 3 week12">
                <span class="chest_drag" (mousedown)="turnOnMove()" [ngStyle]="{'left':baselineWidth}"></span>
              </div>
            </div>
            <div class="textBox row pt-4">
              <div class="col-12 col-md-3 mb-1">
                <h5 [innerHTML]="'EFFICACY_PROFILE.chest_study3'|translate">
                </h5>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_subject3'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_age3'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_gender3'|translate">
                </p>
              </div>
              <div class="col-12 col-md-9">
                <p class="copy" [innerHTML]="'EFFICACY_PROFILE.chest_copy3'|translate">
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center">
          <div class="imgBox">
            <div class="chestBox d-flex">
              <div class="chest" (mouseover)="moveArrow($event)" (mouseup)="turnOffMove($event)">
                <div class="baselineBox" [ngStyle]="{'width':baselineWidth}">
                  <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest4_baseline_en.png"
                    alt="chest 4 baseline">
                  <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest4_baseline_fr.png"
                    alt="chest 4 baseline">
                </div>
                <img *ngIf="currentLanguage == 'en'" src="../../assets/images/chest4_week12_en.png"
                  alt="chest 4 week12">
                <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/chest4_week12_fr.png"
                  alt="chest 4 week12">
                <span class="chest_drag" (mousedown)="turnOnMove()" [ngStyle]="{'left':baselineWidth}"></span>
              </div>
            </div>
            <div class="textBox row pt-4">
              <div class="col-12 col-md-3 mb-1">
                <h5 [innerHTML]="'EFFICACY_PROFILE.chest_study4'|translate">
                </h5>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_subject4'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_age4'|translate">
                </p>
                <p [innerHTML]="'EFFICACY_PROFILE.chest_gender4'|translate">
                </p>
              </div>
              <div class="col-12 col-md-9">
                <p class="copy" [innerHTML]="'EFFICACY_PROFILE.chest_copy4'|translate">
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="toggleBox">
      <div>
        <div class="d-flex justify-content-center">
          <div class="swiper-button-prev" (click)="resetLine()"></div>
          <div class="swiper-pagination" (click)="resetLine()"></div>
          <div class="swiper-button-next" (click)="resetLine()"></div>
        </div>
      </div>

      <p>
        {{'EFFICACY_PROFILE.select_skin_type'|translate}}
      </p>
    </div>

  </swiper>
</div>
