@import "../../styles/style.scss";

.gateContainer {
  margin-top: 1px;
  background-image: url("../../assets/images/wallpaper_1.png");
  width: 100%;
  height: 74%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  .main {
    width: 70%;
    h1 {
      font-size: 36px;
      font-family: $Oregon;
      color: $font_white;
      font-weight: 400;
    }
    h2 {
      font-size: 14px;
      font-family: $Oregon;
      color: $font_white;
      font-weight: 400;
    }
    .label {
      font-size: 14px !important;
      font-family: $Univers !important;
      color: $font_white;
      margin-bottom: 20px;
    }
    p {
      font-size: 11px;
      font-family: $Univers;
      color: $font_white;
    }
    input[type="number"],
    select {
      width: 100%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      width: 200px;
      text-align: center;
      -moz-appearance: textfield;
      height: 35px;
      outline: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .arrowBox {
      &:hover {
        cursor: pointer;
      }
    }
  }

  @include xs {
  }
  @include lg {
  }
  @include rwd(1920) {
  }
}

.button {
  border-radius: 10px !important;
  border: 1px solid #ffffff !important;
}
.whiteLine {
  border-top: 1px solid #ffffff;
  width: 100%;
}

.popup_invalid {
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  .popupBox {
    position: absolute;
    left: 50%;
    .closeIcon {
      position: absolute;
      z-index: 2;
      right: -6px;
      top: -15%;
      img {
        width: 20px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .whiteBox {
      position: relative;
      background-color: #ffffff;
      border-radius: 10px;
      left: -50%;
      top: 260px;
      padding: 20px 10px;

      p {
        font-size: 14px;
      }
      @include xs {
        width: 250px;
      }
      @include sm {
      }
      @include md {
        width: 300px;
      }
      @include lg {
        width: 400px;
      }
      @include rwd(1920) {
      }
    }
  }
}
