<header [ngStyle]="{'top':topValue}">
  <div id="mobileNav" [hidden]="!isMobileMenu">
    <ul class="navbar-nav">
      <li class="text-right" style="padding-bottom: 40px;">
        <svg (click)="ShowMoilbeMenu()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-x xicon" viewBox="0 0 16 16" style="color: #ffffff;">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/home'" fragment="prevalence_of_acne"
          (click)="ShowMoilbeMenu()">
          {{'HEADER.Prevalence_of_acne'|translate}}</a>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/home'" fragment="burden_of_acne"
          (click)="ShowMoilbeMenu()">{{'HEADER.Burden_of_acne'|
          translate}}
        </a>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/home'" fragment="overview"
          (click)="ShowMoilbeMenu()">{{'HEADER.Overview'|
          translate}}
        </a>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/efficacyprofile'"
          (click)="ShowMoilbeMenu()">{{'HEADER.Efficacy_profile'|
          translate}}
        </a>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/safetyprofile'"
          (click)="ShowMoilbeMenu()">{{'HEADER.Safety_profile'|
          translate}}
        </a>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/howtouse'" (click)="ShowMoilbeMenu()">{{'HEADER.How_to_use'|
          translate}}
        </a>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/managingirritation'"
          (click)="ShowMoilbeMenu()">{{'HEADER.Managing_irritation'|
          translate}}
        </a>
      </li>
      <li>
        <a class="navText" [routerLink]="currentLanguage +'/resources'" (click)="ShowMoilbeMenu()">{{'HEADER.Resources'|
          translate}}
        </a>
      </li>
    </ul>
  </div>
  <div class="logoBar">
    <div class="row">
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-start align-items-center">
        <a [routerLink]="currentLanguage +'/home'">
          <img *ngIf="currentLanguage=='en'" src="../../assets/images/AKLIEF_LOGO_RBALL_no gradient_KO_en.png"
            alt="Aklief English logo" style="max-width: 240px;width:100%;height:auto;">
          <img *ngIf="currentLanguage=='fr'" src="../../assets/images/AKLIEF_LOGO_RBALL_no gradient_KO_fr.png"
            alt="Aklief French logo" style="max-width: 240px;width:100%;height:auto;">
        </a>
      </div>
      <div class="col-md-6 col-lg-7 d-flex justify-content-end align-items-center"
        [ngClass]="isGate?'col-5 col-sm-6':'col-4 col-sm-5'">
        <img src="../../assets/images/GALDERMA_LOGO_WHITE_RGB_SMALL.png" alt="Galderma logo"
          style="max-width: 200px;width:100%;height:auto;">
      </div>
      <div class="col-3 col-sm-2 col-md-1 col-lg-1 d-flex justify-content-center align-items-center">
        <div id="language_icon" (click)="switchLanguage(language_icon_text)">
          {{ language_icon_text | uppercase}}
        </div>
      </div>
      <div class=" col-md-1 col-lg-0 justify-content-center align-items-center togglerIcon" [hidden]="isGate"
        [ngClass]="isGate?'col-sm-0 col-0':'col-1 col-sm-1'">
        <div>
          <button class="navbar-toggler" type="button" (click)="ShowMoilbeMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" fill="#ffffff"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="desktopNav" [hidden]="isGate">
    <div class="row align-items-center mx-0 w-100">
      <div class="col headerBorder px-0">
        <a class="navText d-flex align-items-center justify-content-center text-center"
          [routerLink]="currentLanguage +'/home'" fragment="prevalence_of_acne">
          {{'HEADER.Prevalence_of_acne'|translate}}</a>
      </div>
      <div class="col headerBorder">
        <a class="navText d-flex align-items-center justify-content-center text-center"
          [routerLink]="currentLanguage +'/home'" fragment="burden_of_acne">{{'HEADER.Burden_of_acne'|
          translate}}
        </a>
      </div>
      <div class="col headerBorder">
        <a class="navText d-flex align-items-center justify-content-center text-center"
          [routerLink]="currentLanguage +'/home'" fragment="overview">{{'HEADER.Overview'|
          translate}}
        </a>
      </div>
      <div class="col headerBorder">
        <a class="navText d-flex align-items-center justify-content-center text-center"
          [routerLink]="currentLanguage +'/efficacyprofile'" [routerLinkActive]="'active'">{{'HEADER.Efficacy_profile'|
          translate}}
        </a>
      </div>
      <div class="col headerBorder">
        <a class="navText d-flex align-items-center justify-content-center text-center"
          [routerLink]="currentLanguage +'/safetyprofile'" [routerLinkActive]="'active'">{{'HEADER.Safety_profile'|
          translate}}
        </a>
      </div>
      <div class="col headerBorder">
        <a class="navText d-flex align-items-center justify-content-center" [routerLink]="currentLanguage +'/howtouse'"
          [routerLinkActive]="'active'">{{'HEADER.How_to_use'|
          translate}}
        </a>
      </div>
      <div class="col headerBorder">
        <a class="navText d-flex align-items-center justify-content-center text-center"
          [routerLink]="currentLanguage +'/managingirritation'"
          [routerLinkActive]="'active'">{{'HEADER.Managing_irritation'|
          translate}}
        </a>
      </div>
      <div class="col">
        <a class="navText d-flex align-items-center justify-content-center text-center"
          [routerLink]="currentLanguage +'/resources'" [routerLinkActive]="'active'">{{'HEADER.Resources'|
          translate}}
        </a>
      </div>
    </div>
  </div>
</header>
<div [ngStyle]="{'height':blankHeight}" [ngClass]="isGate?'gateBlankSpace':'mainBlackspace'"></div>
