<div class="topImage row mx-0">
  <div class="col"></div>
  <div class="col">
    <h1 [innerHTML]="'MANAGING_IRRITATION.managing_irritation' | translate | uppercase">
    </h1>
  </div>

</div>
<div class="main pt-5">
  <h1 class="text-center" [innerHTML]="'MANAGING_IRRITATION.headline' | translate | uppercase">
  </h1>

  <div class="tips">
    <div class="row pt-4 m-4">
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="text-center py-4">
          <img src="../../assets/images/manage_irritation_icon1.png" alt="message icon" class="image-icon">
        </div>
        <div class="text-center">
          <h5>
            {{'MANAGING_IRRITATION.copy1' | translate}}
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="text-center py-4">
          <img src="../../assets/images/manage_irritation_icon2.png" alt="message icon" class="image-icon">
        </div>
        <div class="text-center">
          <h5>
            {{'MANAGING_IRRITATION.copy2' | translate}}
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="text-center py-4">
          <img src="../../assets/images/manage_irritation_icon3.png" alt="message icon" class="image-icon">
        </div>
        <div class="text-center">
          <h5 [innerHTML]="'MANAGING_IRRITATION.copy3' | translate">
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="text-center py-4">
          <img src="../../assets/images/manage_irritation_icon4.png" alt="message icon" class="image-icon">
        </div>
        <div class="text-center">
          <h5>
            {{'MANAGING_IRRITATION.copy4' | translate}}
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="text-center py-4">
          <img src="../../assets/images/manage_irritation_icon5.png" alt="message icon" class="image-icon">
        </div>
        <div class="text-center">
          <h5 [innerHTML]="'MANAGING_IRRITATION.copy5' | translate">
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="text-center py-4">
          <img src="../../assets/images/manage_irritation_icon6.png" alt="message icon" class="image-icon">
        </div>
        <div class="text-center">
          <h5>
            {{'MANAGING_IRRITATION.copy6' | translate}}
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="CetaphilBoxDesktop">
    <div class="d-flex justify-content-end align-items-center">
      <h2>
        {{'MANAGING_IRRITATION.callout' | translate}}
      </h2>
    </div>
  </div>


  <div class="CetaphilBoxMobile">
    <div class="imgBox">
      <img src="../../assets/images/combined.png" alt="Cetaphil group image">
    </div>
    <div class="calloutBar d-flex justify-content-end align-items-center">
      <h2>
        {{'MANAGING_IRRITATION.callout' | translate}}
      </h2>
    </div>
  </div>

  <div class="navigationButton">
    <div class="d-flex justify-content-center">
      <a href="{{currentLanguage}}/howtouse">
        <div class="backButton d-flex align-items-center">
          <div>
            <img src="../../assets/images/back_button_active.PNG" alt="back button">
          </div>
          <div>
            <h5>
              {{'BUTTON.back' | translate | uppercase}}
            </h5>
          </div>
        </div>
      </a>
      <div style="width: 50px;"></div>
      <a href="{{currentLanguage}}/resources">
        <div class="nextButton d-flex align-items-center">
          <div>
            <h5>
              {{'BUTTON.next' | translate | uppercase}}
            </h5>
          </div>
          <div>
            <img src="../../assets/images/next_button_active.PNG" alt="next button">
          </div>
        </div>
      </a>
    </div>
  </div>
