@import "../../styles/style.scss";

.topImage {
  background-image: url("../../assets/images/managing_irritation_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  @include xs {
    padding-top: 100px;
    height: 50%;
  }
  @include sm {
    padding-top: 200px;
  }
  @include md {
    height: 660px;
  }
  h1 {
    font-size: $title_h1_font_size;
    color: $font_white;
    font-family: $Oregon;
    font-weight: 400;
  }
  @include md {
    text-align: left;
  }
}

.image-icon {
  width: 40%;
  @include md {
    width: 50%;
  }
  @include lg {
    width: 60%;
  }
}

.main {
  h1 {
    color: $font_blue;
    font-family: $Oregon;
    font-weight: 400;
  }
  .tips {
    h5 {
      color: $font_middleGrey;
      font-family: $Roboto;
      padding-top: 10px;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .CetaphilBoxDesktop {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;

    @include xs {
      display: none;
    }
    @include sm {
    }
    @include md {
      background-image: url("../../assets/images/Cetaphil_group_lg.png");
      height: 28vw;
      padding-right: 10px;
      display: flex;
    }
    @include lg {
      height: 22vw;
    }
    @include xl {
      background-image: url("../../assets/images/Cetaphil_group_xl.png");
    }
    h2 {
      color: $font_white;
      @include md {
        font-size: 18px;
        width: 66%;
        padding-top: 8%;
      }
      @include lg {
      }
      @include xl {
        font-size: 21px;
      }
    }
  }

  .CetaphilBoxMobile {
    @include xs {
      display: block;
    }
    @include md {
      display: none;
    }
    .imgBox {
      text-align: center;
      img {
        max-width: 500px;
        min-width: 200px;
        width: 100%;
      }
    }
    .calloutBar {
      background-image: url("../../assets/images/Rectangle_4.png");
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: top;
      background-size: cover;
      border-radius: 10px 10px 10px 10px;
      padding: 10px 1rem;
      h2 {
        color: $font_white;
      }
    }
  }
}
