@import "../../styles/style.scss";

footer {
  background-color: #575756;
  padding: 20px 0px;
  p {
    font-size: $footer_font_szie;
    color: $font_white;
    font-family: $Univers;
    padding-left: 30px;
    @include xs {
      text-align: center;
      padding-bottom: 30px;
    }
    @include lg {
      text-align: left;
      padding-bottom: 0px;
    }
  }
  .imgBox {
    @include xs {
      padding-right: 0px;
      padding-top: 30px;
      justify-content: center;
    }
    @include lg {
      padding-right: 30px;
      padding-top: 0px;
      justify-content: flex-end;
    }
    @include xl {
    }
  }
}
