@import "../../styles/style.scss";

.topImage {
  background-image: url("../../assets/images/safety_profile_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  padding-top: 200px;
  font-weight: 400;
  @include xs {
    height: 50%;
  }
  @include md {
    height: 660px;
  }
  h1 {
    font-size: $title_h1_font_size;
    color: $font_white;
    font-family: $Oregon;
    font-weight: 400;
  }
  @include md {
    text-align: left;
  }
}

.image-icon {
  width: 40%;
  margin-bottom: 15px;
  @include md {
    width: 50%;
    margin-bottom: 0;
  }
  @include lg {
    width: 60%;
  }
}

.main {
  .title {
    color: $font_blue;
    font-family: $Oregon;
    font-weight: 400;
    @include xs {
      padding: 0px;
    }
    @include lg {
      padding: 0px 25px;
    }
    @include xl {
      padding: 0px 12%;
    }
  }
  h5 {
    color: $font_middleGrey;
    font-family: $Univers;
    font-weight: 200;
    padding: 40px 0px;
  }
  .most_common {
    @include xs {
      padding: 40px;
    }
    @include md {
      padding: 40px 80px;
    }
  }
  .chartImage {
    max-width: 800px;
    width: 100%;
    height: auto;
    line-height: 1.5;
  }
  .blueColumn {
    padding: 0px;
    .calloutBar {
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: top;
      background-size: cover;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 25px;
      @include xs {
        background-image: url("../../assets/images/Rectangle_4.png");
      }
      @include lg {
        background-image: url("../../assets/images/Rectangle_5.png");
      }
      h1 {
        color: $font_white;
        font-size: 56px;
        line-height: 1;
        font-family: $Oregon;
        font-weight: 400;
        margin-bottom: 0px;
      }
      h2 {
        font-family: $Oregon;
        color: $font_white;
        font-weight: 200;
        margin-bottom: 0px;
        @include xs {
          font-size: $h2_font_size;
        }
        @include lg {
          font-size: 19px;
        }
        @include xl {
          font-size: $h2_font_size;
        }
      }
      .li_font {
        font-family: $Oregon;
        color: $font_white;
        font-weight: 200;
        font-size: $h2_font_size;
        padding-top: 20px;
        @include xs {
          font-size: $h2_font_size;
        }
        @include lg {
          font-size: 19px;
        }
        @include xl {
          font-size: $h2_font_size;
        }
        li {
          &:before {
            color: #ffffff;
          }
        }
      }
      img {
        width: 60px;
      }
    }
  }
}
