@import "../../styles/style.scss";

.topImage {
  background-image: url("../../assets/images/safety_profile_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  height: 540px;
  width: 100%;
  padding-right: 5%;
  padding-top: 200px;
  text-align: center;
  h1 {
    font-size: $title_h1_font_size;
    color: $font_white;
    font-family: $Oregon;
  }
  @include md{
    text-align: left;
  }
}


.image-icon{
  width: 40%;
  margin-bottom: 15px;
  @include md{
    width: 50%;
    margin-bottom: 0;
  }
  @include lg{
    width: 60%;
  }
}


.main {
  h1 {
    color: $font_blue;
    font-family: $Oregon;
  }
  h2 {
    color: $font_darkGrey;
  }
  .chartImage {
    max-width: 800px;
    width: 100%;
    height: auto;
  }
  .calloutBar {
    background-image: url("../../assets/images/Rectangle_4.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
    h1 {
      color: $font_white;
      font-size: 56px;
      line-height: 1;
      font-family: $Oregon;
      font-weight: 400;
    }
    h2 {
      font-family: $Oregon;
      color: $font_white;
      font-weight: 400;
    }
    img {
      width: 70px;
    }
  }
}
