<div class="main">
  <h1 class="text-center">
    {{'COOKIE_POLICY.headline' | translate | uppercase}}
  </h1>
  <h5>
    {{'COOKIE_POLICY.subhead_1' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'COOKIE_POLICY.subhead_1_copy' | translate">
  </p>
  <h5>
    {{'COOKIE_POLICY.subhead_2' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'COOKIE_POLICY.subhead_2_copy' | translate">
  </p>
  <h5>
    {{'COOKIE_POLICY.subhead_3' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'COOKIE_POLICY.subhead_3_copy' | translate">
  </p>
  <h5>
    {{'COOKIE_POLICY.subhead_4' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'COOKIE_POLICY.subhead_4_copy' | translate">
  </p>
  <h5>
    {{'COOKIE_POLICY.subhead_5' | translate | uppercase}}
  </h5>
  <p class="pb-5" [innerHTML]="'COOKIE_POLICY.subhead_5_copy' | translate">
  </p>
</div>
