<div class="topImage row mx-0">
  <div class="col"></div>
  <div class="col">
    <h1>
      {{'EFFICACY_PROFILE.efficacy_profile' | translate | uppercase}}
    </h1>
  </div>

</div>
<div class="main pt-5">
  <h1 class="text-center">
    {{'EFFICACY_PROFILE.headline' | translate | uppercase}}
  </h1>
  <div class="row calloutBar py-2 m-4">
    <div class="col-12 col-md-2 align-self-center text-center">
      <img *ngIf="currentLanguage == 'en'" src="../../assets/images/face_icon_en.png" alt="english face icon"
        class="image-icon">
      <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/face_icon_fr.png" alt="french face icon"
        class="image-icon">
    </div>
    <div class="col-12 col-md-10 px-0">
      <div>
        <h5 [innerHTML]="'EFFICACY_PROFILE.in_the_Pivotal_1_Study' | translate | uppercase" style="margin-top: 10px;">
        </h5>
      </div>
      <div class="textBox row">
        <h1>
          {{'EFFICACY_PROFILE.54_4' | translate | uppercase}}
        </h1>
        <h2 [innerHTML]="'EFFICACY_PROFILE.fewer_inflammatory_lesions_44' | translate | uppercase">
        </h2>
      </div>
    </div>
  </div>
  <div class="text-center my-4">
    <img *ngIf="currentLanguage == 'en'" class="chartImage" src="../../assets/images/efficacy_chart1_en.png"
      alt="efficacy chart 1">
    <img *ngIf="currentLanguage == 'fr'" class="chartImage" src="../../assets/images/efficacy_chart1_fr.png"
      alt="efficacy chart 1">
  </div>
</div>
<div class="faceImageSwiper">
  <h2 class="text-center">
    {{'EFFICACY_PROFILE.subhead_1' | translate | uppercase}}
  </h2>
  <app-face-swiper></app-face-swiper>
</div>
<div class="main">
  <div class="row calloutBar py-2 m-4">
    <div class="col-12 col-md-2 align-self-center text-center">
      <img *ngIf="currentLanguage == 'en'" src="../../assets/images/trunk_icon_en.png" alt="english truck icon"
        class="image-icon">
      <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/trunk_icon_fr.png" alt="french truck icon"
        class="image-icon">
    </div>
    <div class="col-12 col-md-10 px-0">
      <div>
        <h5 [innerHTML]="'EFFICACY_PROFILE.in_the_Pivotal_1_Study' | translate | uppercase" style="margin-top: 10px;">
        </h5>

      </div>
      <div class="textBox row">
        <h1>
          {{'EFFICACY_PROFILE.57_4' | translate | uppercase}}
        </h1>
        <h2 [innerHTML]="'EFFICACY_PROFILE.fewer_inflammatory_lesions_50' | translate | uppercase"
        style="text-align: left;">
      </h2>
      </div>
    </div>
  </div>
  <div class="text-center my-4">
    <img *ngIf="currentLanguage == 'en'" class="chartImage" src="../../assets/images/efficacy_chart2_en.png"
      alt="efficacy chart 2">
    <img *ngIf="currentLanguage == 'fr'" class="chartImage" src="../../assets/images/efficacy_chart2_fr.png"
      alt="efficacy chart 2">

  </div>
</div>
<div class="chestImageSwiper">
  <h2 class="text-center">
    {{'EFFICACY_PROFILE.subhead_1' | translate | uppercase}}
  </h2>
  <app-chest-swiper></app-chest-swiper>
</div>
<div class="main">
  <div>
    <h2 class="subhead2 text-center py-5" [innerHTML]="'EFFICACY_PROFILE.subhead_2' | translate | uppercase">
    </h2>
  </div>
  <div class="text-center">
    <img *ngIf="currentLanguage == 'en'" src="../../assets/images/acne_treatment_en.jpg" alt="treatment over 52 weeks"
      style="max-width: 800px;width:100%;height: auto;">
    <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/acne_treatment_fr.jpg" alt="treatment over 52 weeks"
      style="max-width: 800px;width:100%;height: auto;">
  </div>
  <div class="d-flex justify-content-start align-items-center py-4 mx-auto" style="max-width: 800px;">
    <div class="age_name_Box">
      <p [innerHTML]="'EFFICACY_PROFILE.treatment_gender' | translate">
      </p>
      <p [innerHTML]="'EFFICACY_PROFILE.treatment_age' | translate ">
      </p>
    </div>
    <div>
      <h5 [innerHTML]="'EFFICACY_PROFILE.treatment_copy' | translate">
      </h5>
    </div>
  </div>
  <div class="navigationButton">
    <div class="d-flex justify-content-center">
      <a href="{{currentLanguage}}/home">
        <div class="backButton d-flex align-items-center">
          <div>
            <img src="../../assets/images/back_button_active.PNG" alt="back button">
          </div>
          <div>
            <h5>
              {{'BUTTON.back' | translate | uppercase}}
            </h5>
          </div>
        </div>
      </a>
      <div style="width: 50px;"></div>
      <a href="{{currentLanguage}}/safetyprofile">
        <div class="nextButton d-flex align-items-center">
          <div>
            <h5>
              {{'BUTTON.next' | translate | uppercase}}
            </h5>
          </div>
          <div>
            <img src="../../assets/images/next_button_active.PNG" alt="next button">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
