@import "../../styles/style.scss";

.topImage {
  background-image: url("../../assets/images/efficacy_profile_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;

  h1 {
    font-size: $title_h1_font_size;
    color: $font_white;
    font-family: $Oregon;
    font-weight: 400;
  }
  @include xs {
    padding-top: 100px;
    height: 50%;
  }
  @include sm{
    padding-top: 200px;
  }
  @include md {
    height: 660px;
  }
}

.image-icon {
  width: 40%;
  @include md {
    width: 50%;
  }
  @include lg {
    width: 60%;
  }
}

.main {
  h1 {
    color: $font_blue;
    font-family: $Oregon;
    font-weight: 400;
  }
  h2 {
    color: $font_darkGrey;
  }
  .chartImage {
    max-width: 900px;
    width: 100%;
    height: auto;
  }

  .calloutBar {
    background-image: url("../../assets/images/Rectangle_4.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    border-radius: 25px;
    padding: 10px;
    img {
      max-width: 100px;
      width: 100%;
    }
    h2 {
      color: $font_white;
      font-family: $Oregon;
      font-weight: 400;
      padding: 0px 10px;
      margin-bottom: 0;
    }
    h1 {
      color: $font_white;
      font-family: $Oregon;
      font-size: 56px;
      text-align: left;
      margin-bottom: 0;
      line-height: 1;
      @include xs {
        text-align: center;
      }
      @include md {
        text-align: left;
      }
    }
    h5 {
      color: $font_white;
      font-family: $Oregon;
      font-weight: 400;
      text-align: left;
      padding-bottom: 5px;
      @include xs {
        padding-top: 10px;
        text-align: center;
      }
      @include md {
        padding-top: 0px;
        text-align: left;
      }
    }
    .blankSpace {
      @include xs {
        margin-top: 0px;
        height: 0;
      }
      @include md {
        margin-top: 10px;
        height: auto;
      }
    }
  }
  .subhead2 {
    color: $font_grey;
    font-family: $Univers;
  }

  h5 {
    font-family: $Univers;
    font-weight: 200;
    margin: 0;
  }
  .age_name_Box {
    min-width: 190px;
    p {
      font-size: 12px;
      font-family: $Univers;
      font-weight: 200;
    }
  }
}

.faceImageSwiper,
.chestImageSwiper {
  background-image: url("../../assets/images/wallpaper_4.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  background-size: cover;
  width: 100%;
  padding: 30px 20px;
  h2 {
    color: $font_white;
    font-family: $Univers;
    font-weight: bold;
    padding: 0px 0px 30px 0px;
    margin-bottom: 0px;
  }
}

.faceImageSwiper {
  @include xs {
    height: auto;
  }
  @include lg {
    height: 715px;
  }
}
.chestImageSwiper {
  @include xs {
    height: auto;
  }
  @include lg {
    height: 780px;
  }
}
