<div class="topImage d-flex justify-content-end">
  <h1>
    {{'EFFICACY_PROFILE.efficacy_profile' | translate | uppercase}}
  </h1>
</div>
<div class="main">
  <h1 class="text-center">
    {{'EFFICACY_PROFILE.headline' | translate | uppercase}}
  </h1>
  <h2 class="text-center">
    {{'EFFICACY_PROFILE.subhead_1' | translate | uppercase}}
  </h2>
  <div class="calloutBar d-flex justify-content-start align-items-center">
    <div>
      <img src="../../assets/images/face_icon.png" alt="face icon">
    </div>
    <h2 [innerHTML]="'EFFICACY_PROFILE.in_the_Pivotal_1_Study' | translate | uppercase">
    </h2>
    <h1>
      {{'EFFICACY_PROFILE.54_4' | translate | uppercase}}
    </h1>
    <h2 [innerHTML]="'EFFICACY_PROFILE.fewer_inflammatory_lesions_44' | translate | uppercase">
    </h2>
  </div>

  <div>
    <img class="chartImage" src="../../assets/images/efficacy_chart1.png" alt="efficacy chart 1">
  </div>
</div>
<div>
  <app-face-swiper></app-face-swiper>
</div>
<div class="main">
  <div class="calloutBar d-flex justify-content-start align-items-center">
    <div>
      <img src="../../assets/images/trunk_icon.png" alt="trunk icon">
    </div>
    <h2 [innerHTML]="'EFFICACY_PROFILE.in_the_Pivotal_1_Study' | translate | uppercase">
    </h2>
    <h1>
      {{'EFFICACY_PROFILE.57_4' | translate | uppercase}}
    </h1>
    <h2 [innerHTML]="'EFFICACY_PROFILE.fewer_inflammatory_lesions_50' | translate | uppercase">
    </h2>
  </div>
  <div>
    <img class="chartImage" src="../../assets/images/efficacy_chart2.png" alt="efficacy chart 2">
  </div>
</div>
<div>
  <app-chest-swiper></app-chest-swiper>
</div>
<div class="main">
  <div>
    <h2 class="subhead2" [innerHTML]="'EFFICACY_PROFILE.subhead_2' | translate | uppercase">
    </h2>
  </div>
  <div>
    <img src="../../assets/images/acne_treatment.png" alt="treatment over 52 weeks"
      style="max-width: 800px;width:100%;height: auto;">
  </div>
  <div class="d-flex justify-content-start align-items-center py-2">
    <div class="age_name_Box">
      <p [innerHTML]="'EFFICACY_PROFILE.treatment_gender' | translate | uppercase">
      </p>
      <p [innerHTML]="'EFFICACY_PROFILE.treatment_age' | translate | uppercase">
      </p>
    </div>
    <div>
      <h5 [innerHTML]="'EFFICACY_PROFILE.treatment_copy' | translate | uppercase">
      </h5>
    </div>
  </div>
  <div class="navigationButton">
    <div class="d-flex justify-content-center">
      <a href="{{currentLanguage}}/home">
        <div class="backButton d-flex align-items-center">
          <div>
            <img src="../../assets/images/back_button_active.PNG" alt="back button">
          </div>
          <div>
            <h5>
              {{'BUTTON.back' | translate | uppercase}}
            </h5>
          </div>
        </div>
      </a>
      <div style="width: 50px;"></div>
      <a href="{{currentLanguage}}/safetyprofile">
        <div class="nextButton d-flex align-items-center">
          <div>
            <h5>
              {{'BUTTON.next' | translate | uppercase}}
            </h5>
          </div>
          <div>
            <img src="../../assets/images/next_button_active.PNG" alt="next button">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
