<div class="main">
  <h1 class="text-center">
    {{'SAFETY_INFORMATION.headline' | translate | uppercase}}
  </h1>
  <h5 [innerHTML]="'SAFETY_INFORMATION.subhead_1' | translate | uppercase">
  </h5>
  <p [innerHTML]="'SAFETY_INFORMATION.subhead_1_copy' | translate">
  </p>
  <h5 [innerHTML]="'SAFETY_INFORMATION.subhead_2' | translate | uppercase">
  </h5>
  <ul class="li_font" [innerHTML]="'SAFETY_INFORMATION.subhead_2_copy' | translate">
  </ul>
  <h5 [innerHTML]="'SAFETY_INFORMATION.subhead_3' | translate | uppercase">
  </h5>
  <ul class="li_font" [innerHTML]="'SAFETY_INFORMATION.subhead_3_copy' | translate">
  </ul>
  <h5 [innerHTML]="'SAFETY_INFORMATION.subhead_4' | translate | uppercase">
  </h5>
  <ul class="li_font" [innerHTML]="'SAFETY_INFORMATION.subhead_4_copy' | translate">
  </ul>
  <h5 [innerHTML]="'SAFETY_INFORMATION.subhead_5' | translate | uppercase">
  </h5>
  <p class="pb-5" [innerHTML]="'SAFETY_INFORMATION.subhead_5_copy' | translate">
  </p>
</div>
