<div class="topImage row mx-0">
  <div class="col"></div>
  <div class="col">
    <h1>
      {{'RESOURCES.resources' | translate | uppercase}}
    </h1>
  </div>

</div>
<div class="main">
  <h1 class="text-center title" [innerHTML]="'RESOURCES.headline' | translate | uppercase">
  </h1>
  <div class="downloadBox">
    <div class="step row py-5">
      <div class="imgBox col-12 col-sm-4 col-md-3 text-center">
        <img *ngIf="currentLanguage == 'en'" src="../../assets/images/Resource_download_icon1_en.png"
          alt="download 1 image in english">
        <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/Resource_download_icon1_fr.png"
          alt="download 1 image in french">
      </div>
      <div class="textBox col-12 col-sm-8 col-md-9 align-items-center d-flex">
        <div>
          <h3>{{'RESOURCES.download1_headline' | translate | uppercase}}</h3>
          <h5 [innerHTML]="'RESOURCES.download1_copy' | translate">
          </h5>
          <div class="blue_button">
            <a *ngIf="currentLanguage=='en'"
              href="../../assets/documents/HR_GAL20TR021554_PatientTearpad_E6 [CLEAN].pdf" class="button">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
            <a *ngIf="currentLanguage=='fr'"
              href="../../assets/documents/HR_GAL20TR021554_PatientTearpad_F5 [CLEAN].pdf" class="button">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="step row py-5">
      <div class="imgBox col-12 col-sm-4 col-md-3 text-center">
        <img *ngIf="currentLanguage == 'en'" src="../../assets/images/Resource_download_icon2_en.png"
          alt="download 2 image in english">
        <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/Resource_download_icon2_fr.png"
          alt="download 2 image in french">
      </div>
      <div class="textBox col-12 col-sm-8 col-md-9 align-items-center d-flex">
        <div>
          <h3>{{'RESOURCES.download2_headline' | translate | uppercase}}</h3>
          <h5 [innerHTML]="'RESOURCES.download2_copy' | translate">
          </h5>
          <div class="blue_button">
            <a *ngIf="currentLanguage=='en'"
              href="../../assets/documents/HR_GAL20TR021554_PatientTearpad_E6 [CLEAN].pdf" class="button">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
            <a *ngIf="currentLanguage=='fr'"
              href="../../assets/documents/GAL21TR022519_Acne Assessment Tool_F3_Interactive.pdf" class="button">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="step row py-5">
      <div class="imgBox col-12 col-sm-4 col-md-3 text-center">
        <img *ngIf="currentLanguage == 'en'" src="../../assets/images/Resource_download_icon3_en.png"
          alt="download 3 image in english">
        <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/Resource_download_icon3_fr.png"
          alt="download 3 image in french">
      </div>
      <div class="textBox col-12 col-sm-8 col-md-9 align-items-center d-flex">
        <div>
          <h3>{{'RESOURCES.download3_headline' | translate | uppercase}}</h3>
          <h5 [innerHTML]="'RESOURCES.download3_copy' | translate">
          </h5>
          <div class="blue_button">
            <a *ngIf="currentLanguage=='en'"
              href="../../assets/documents/GAL19TR021129_Aklief Patient Brochure_BIL7_EN.pdf" class="button">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
            <a *ngIf="currentLanguage=='fr'"
              href="../../assets/documents/GAL19TR021129_Aklief Patient Brochure_BIL7_FR.pdf.pdf" class="button">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="step row py-5">
      <div class="imgBox col-12 col-sm-4 col-md-3 text-center">
        <img *ngIf="currentLanguage == 'en'" src="../../assets/images/Resource_download_icon4_en.png"
          alt="download 4 image in english">
        <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/Resource_download_icon4_fr.png"
          alt="download 4 image in french">
      </div>
      <div class="textBox col-12 col-sm-8 col-md-9 align-items-center d-flex">
        <div>
          <h3>{{'RESOURCES.download4_headline' | translate | uppercase}}</h3>
          <div class="blue_button">
            <a *ngIf="currentLanguage=='en'"
              href="https://www.galderma.com/sites/default/files/inline-files/Aklief%20PM-E-Nov-25.pdf" class="button"
              target="_blank">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
            <a *ngIf="currentLanguage=='fr'"
              href="https://www.galderma.com/sites/default/files/inline-files/Aklief%20PM-F-Nov-25.pdf" class="button"
              target="_blank">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="calloutBar text-center">
    <h1>
      {{'RESOURCES.callout' | translate | uppercase}}
    </h1>
  </div>
  <div class="navigationButton">
    <div class="d-flex justify-content-center">
      <a href="{{currentLanguage}}/managingirritation">
        <div class="backButton d-flex align-items-center">
          <div>
            <img src="../../assets/images/back_button_active.PNG" alt="back button">
          </div>
          <div>
            <h5>
              {{'BUTTON.back' | translate | uppercase}}
            </h5>
          </div>
        </div>
      </a>
      <div style="width: 50px;"></div>
      <div class="nextButton d-flex align-items-center">
        <div>
          <h5 style="color: #9B9B9B;">
            {{'BUTTON.next' | translate | uppercase}}
          </h5>
        </div>
        <div>
          <img src="../../assets/images/next_button_inactive.PNG" alt="inactive next button">
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <img src="../../assets/images/reference_bottom.png" alt="patients in group" style="width: 100%;">
  </div>
  <div class="blueLine">

  </div>
  <div class="reference">
    <p class="reference_text">
      {{'RESOURCES.reference' | translate | uppercase}}
    </p>
    <ol class="ol_li_font" [innerHTML]="'RESOURCES.reference_list' | translate"></ol>
  </div>
</div>
