@import 'abstracts/_abstracts-dir';
@import 'modules/modules-dir';
@import 'base/_base-dir';
@import 'pages/page-dir';

body {
    margin: 0;
    font-weight: 400;
    font-size: 16px !important;
    display: flex;
    flex-direction: column;
}