@import "../../styles/style.scss";

.topImage {
  background-image: url("../../assets/images/how_to_use_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  padding-top: 200px;
  @include xs {
    height: 50%;
  }
  @include md {
    height: 660px;
  }
  h1 {
    font-size: $title_h1_font_size;
    color: $font_white;
    font-family: $Oregon;
  }
  @include md {
    text-align: left;
  }
}

.main {
  h1 {
    color: $font_blue;
    font-family: $Oregon;
  }
  h2 {
    color: $font_darkGrey;
  }
  .routineBox {
    border-top: 1px solid $site_blue;
    .step {
      border-bottom: 1px solid $site_blue;
      .imgBox {
        padding-bottom: 20px;
        text-align: center;
        img {
          width: 100px;
        }
      }

      h3 {
        color: $font_middleGrey;
        font-family: $Oregon;
        .blueNumber {
          color: $font_blue;
          font-size: 40px;

          font-weight: 400;
        }
      }
      h5 {
        color: $font_middleGrey;
        font-family: $Univers;
      }
    }
  }
  .calloutBar {
    background-image: url("../../assets/images/Rectangle_2.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 40px;
    h1 {
      color: $font_white;
      font-size: 32px;
      font-family: $Oregon;
      font-weight: 400;
      text-align: center;
    }
    h2 {
      font-family: $Oregon;
      color: $font_white;
      font-weight: 400;
      margin-bottom: 0;
    }
    .imgBox {
      img {
        width: 70px;
      }
    }
  }
}
