@import "../../styles/style.scss";

.main {
  h1 {
    color: $font_blue;
    font-family: $Oregon;
    font-weight: 400;
    padding-top: 50px;
  }
  h5 {
    font-weight: bold;
    font-family: $Univers;
    color: $font_middleGrey;
    padding: 15px 0px 10px 0px;
  }
  p {
    font-size: 16px;
    font-family: $Univers;
    color: $font_middleGrey;
    font-weight: 200;
  }
  .li_font {
    font-size: 16px;
    font-family: $Univers;
    color: $font_middleGrey;
    font-weight: 200;
  }
}
