<div class="main">
  <h1 class="text-center">
    {{'PRIVACY_POLICY.headline' | translate | uppercase}}
  </h1>
  <h5>
    {{'PRIVACY_POLICY.subhead_1' | translate | uppercase}}
  </h5>
  <ul class="pb-4 li_font" [innerHTML]="'PRIVACY_POLICY.subhead_1_list' | translate">
  </ul>
  <h5>
    {{'PRIVACY_POLICY.subhead_2' | translate | uppercase}}
  </h5>
  <h5>
    {{'PRIVACY_POLICY.subhead_3' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'PRIVACY_POLICY.subhead_3_copy' | translate">
  </p>
  <h5>
    {{'PRIVACY_POLICY.subhead_4' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'PRIVACY_POLICY.subhead_4_copy' | translate">
  </p>
  <h5>
    {{'PRIVACY_POLICY.subhead_5' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'PRIVACY_POLICY.subhead_5_copy' | translate">
  </p>
  <h5>
    {{'PRIVACY_POLICY.subhead_6' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'PRIVACY_POLICY.subhead_6_copy' | translate">
  </p>
  <h5>
    {{'PRIVACY_POLICY.subhead_7' | translate | uppercase}}
  </h5>
  <p [innerHTML]="'PRIVACY_POLICY.subhead_7_copy' | translate">
  </p>
  <h5>
    {{'PRIVACY_POLICY.how_to_contact_us' | translate | uppercase}}
  </h5>
  <p class="pb-5" [innerHTML]="'PRIVACY_POLICY.how_to_contact_us_copy' | translate">
  </p>
</div>
