@import "../../styles/style.scss";

.main {
  h1 {
    color: $font_blue;
    font-family: $Oregon;
    font-weight: 400;
    padding-top: 50px;
  }
  h5 {
    font-weight: bold;
    font-family: $Roboto;
    color: $font_middleGrey;
    padding: 15px 0px 10px 0px;
    @include xs{
      font-size: 15px;
    }
    @include md{
      font-size: 18px;
    }
  }
  p {
    font-family: $Roboto;
    color: $font_middleGrey;
    font-weight: 300;
    @include xs{
      font-size: 12px;
    }
    @include md{
      font-size: 18px;
    }
  }
  .li_font {
    font-family: $Roboto;
    color: $font_middleGrey;
    font-weight: 300;
    @include xs{
      font-size: 12px;
    }
    @include md{
      font-size: 18px;
    }
  }
}
