@import "../../../styles/style.scss";

.popup_safety {
  background-color: #000a;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 13;
  top: 0;
  .popupBox {
    position: relative;
    .closeIcon {
      position: absolute;
      z-index: 2;
      right: -6px;
      top: -3%;
      img {
        width: 20px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .whiteBox {
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
    height: 500px;
    left: 25%;
    top: 100px;
    padding: 50px 15px 50px 30px;
    .textBox {
      height: 410px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 10px;
      .subhead {
        font-weight: bold;
        padding-top: 20px;
      }
      .li_font {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        font-family: $Roboto;
      }
      p {
        font-size: 12px;
        line-height: 1.5;
      }
    }
  }
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #008eaa;
  border-radius: 10px;
}
