<div class="whiteSwiper">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="overviewContainer" style="text-align: left;">
          <h5 [innerHTML]="'HOME.overview_of_aklef_copy1' |translate">

          </h5>
          <ul class="li_font" [innerHTML]="'HOME.overview_of_aklef_list1' |translate">
          </ul>
        </div>

      </div>
      <div class="swiper-slide">

        <div class="row overviewContainer" style="text-align: left;">
          <div class="col-12 col-lg-8 order-2 order-lg-1">
            <h5 [innerHTML]="'HOME.overview_of_aklef_copy2_1' |translate">

            </h5>
            <h5 [innerHTML]="'HOME.overview_of_aklef_copy2_2' |translate">

            </h5>
            <ul class="li_font" [innerHTML]="'HOME.overview_of_aklef_list2' |translate">
            </ul>
          </div>
          <div class="creamDropimgBox col-12 col-lg-4 order-1 order-lg-2">
            <img class="creamDropImg" src="../../assets/images/cream drop.png" alt="cream drop">
          </div>
        </div>

        <div style="height: 40px;"></div>

      </div>
      <div class="swiper-slide">
        <div class="overviewContainer" style="text-align: left;">
          <ul class="li_font_2" [innerHTML]="'HOME.overview_of_aklef_list3' |translate">
          </ul>
        </div>

      </div>

    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </swiper>
</div>
