<div class="whiteSwiper">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="overviewContainer" style="text-align: left;">
          <h5 [innerHTML]="'HOME.overview_of_aklef_copy1' |translate">

          </h5>
          <ul class="li_font" [innerHTML]="'HOME.overview_of_aklef_list1' |translate">
          </ul>
        </div>

      </div>
      <div class="swiper-slide">

        <div class="row overviewContainer" style="text-align: left;">
          <div class="col-12 col-lg-8 order-2 order-lg-1">
            <h5 [innerHTML]="'HOME.overview_of_aklef_copy2_1' |translate">

            </h5>
            <h5 [innerHTML]="'HOME.overview_of_aklef_copy2_2' |translate">

            </h5>
            <ul class="li_font" [innerHTML]="'HOME.overview_of_aklef_list2' |translate">
            </ul>
          </div>
          <div class="creamDropimgBox col-12 col-lg-4 order-1 order-lg-2">
            <img class="creamDropImg" src="../../assets/images/cream drop.png" alt="cream drop">
          </div>
        </div>

        <div style="height: 40px;"></div>

      </div>
      <div class="swiper-slide">
        <div class="overviewContainer" style="text-align: left;">
          <ul class="li_font_2" [innerHTML]="'HOME.overview_of_aklef_list3' |translate">
          </ul>
        </div>

      </div>

    </div>
    <div class="toggleBox">
      <div class="d-flex justify-content-center align-items-center">
        <div class="swiper-button-prev">
          <p class="backText">{{'BUTTON.back'|translate| uppercase}}</p>
          <div>
            <img src="../../assets/images/white_angle_left.png" alt="" style="width: 17px;">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next">
          <div>
            <img src="../../assets/images/white_angle_right.png" alt="" style="width: 17px;">
          </div>
          <p class="nextText">{{'BUTTON.next'|translate| uppercase}}</p>
        </div>
      </div>
    </div>



  </swiper>
</div>
