@import "../../styles/style.scss";

.whiteSwiper {
  .toggleBox {
    p {
      font-family: $Univers;
      color: $font_white;
      line-height: 0;
      margin-top: 2px;
    }
  }
  .overviewContainer {
    min-height: 300px;
    @include xs {
      height: auto;
    }
    @include lg {
      height: 100%;
    }
    h5 {
      font-family: $Univers;
      line-height: 1.5;
    }
    .li_font {
      font-size: $h5_font_size;
      font-family: $Univers;
      font-weight: 200;
      padding-left: 50px !important;
      line-height: 2;
      @include xs {
        padding-bottom: 30px;
      }
      @include md {
        padding-bottom: 0px;
      }
    }
    .li_font_2 {
      font-size: $h5_font_size;
      font-family: $Univers;
      font-weight: 200;
      padding-left: 20px !important;
      list-style-type: none;
      @include xs {
        padding-bottom: 30px;
      }
      @include md {
        padding-bottom: 0px;
      }
      li {
        padding-top: 7px;
        padding-left: 44px;
        background-image: url("../../assets/images/No_Smoking_Symbol.png");
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: top;
        background-size: contain;
        margin-bottom: 20px;
      }
    }
    .creamDropimgBox {
      .creamDropImg {
        width: 160px;
      }
      @include xs {
        text-align: center;
        padding-bottom: 10px;
      }
      @include lg {
        text-align: left;
      }
    }
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    text-align: left;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-button-next {
    //background-image: url(../../assets/images/white_angle_right.png);
    right: auto;
    //left: 50%;
    //margin-left: 50px;
  }

  .swiper-button-prev {
    //background-image: url(../../assets/images/white_angle_left.png);
    left: auto;
    //right: 50%;
    //margin-right: 50px;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: auto;
    position: inherit;
    top: inherit;
    margin-top: 0px;
    //bottom: -9px;
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
    z-index: 11;
    opacity: 1;

    .backText {
      padding-right: 10px;
    }
    .nextText {
      padding-left: 10px;
    }
  }

  .swiper-pagination-bullets {
    //bottom: 0px;
  }

  .swiper-pagination {
    position: inherit;
    display: flex;
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      padding: 0px 2px;
      background: #ffffff;
      margin: 0px 10px !important;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: #00accd;
    }
  }
}


