@import "../../styles/style.scss";

.faceSwiper {
  .backgroundContainer {
    width: 100%;
    color: $font_white;
    text-align: left;
    p {
      font-size: 16px;
      color: $font_middleGrey;
      font-family: $Roboto;
      font-weight: 300;
      margin-top: 20px;
      text-align: center;
    }
    .faceBox {
      @include xs {
        justify-content: center;
      }
      @include lg {
        justify-content: flex-end;
      }
      .face {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        padding: 0;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .baselineBox {
          position: absolute;
          overflow: hidden;
          top: 0;
          height: 100%;
        }
        img {
          @include xs {
            width: 280px;
          }
          @include sm {
            width: 460px;
          }
        }
        .face_drag {
          background: hsla(0, 0%, 100%, 0.25);
          width: 1px;
          overflow: visible;
          margin-left: -1px;
          position: absolute;
          top: 0;
          bottom: 0;
          cursor: ew-resize;
          left: 50%;
          &:before {
            background: url("../../assets/images/circle_arrows.png") no-repeat 50%;
            background-size: cover;
            border: 0;
            content: "";
            height: 50px;
            left: 50%;
            margin-left: -25px;
            margin-top: 35px;
            position: absolute;
            top: 50%;
            width: 50px;
          }
        }
      }
    }
    .textBox {

      h5 {
        font-weight: 300;
        font-family: $Roboto;
        text-align: left;
        margin-bottom: 10px;
      }
      p {
        color: $font_white;
        font-size: 12px;
        text-align: left;
        margin-top: 0;
      }
      .copy {
        font-size: 16px;
        margin-top: 30px;
      }
      @include xs {
        width: 100%;
        padding: 10px 20px 0px 20px;
        margin-bottom: 50px;
      }
      @include lg {
        width: 375px;
        padding: 0px 0px 0px 20px;
        margin-bottom: 120px;
      }
    }
  }
  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-button-next {
    background-image: url(../../assets/images/white_angle_right.png);
    right: auto;
    //left: 50%;
    //margin-left: 70px;
  }

  .swiper-button-prev {
    background-image: url(../../assets/images/white_angle_left.png);
    left: auto;
    //right: 50%;
    //margin-right: 70px;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: inherit;
    top: inherit;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 11;
    opacity: 1;
    @include xs {
      //bottom: 13px;
      margin: 8px 0px 0px;
      background-size: 50% auto;
    }
    @include sm {
      background-size: 60% auto;
      margin: 10px 0px;
    }
    @include md {
      //bottom: 2%;
    }
  }

  .swiper-pagination-bullets {
    //bottom: 20px;
    @include xs {
      margin: 0px 5px;
    }
    @include sm {
      margin: 0px 15px;
    }
  }

  .swiper-pagination {
    text-align: left;
    position: inherit;
    @include xs {
      align-self: center;
    }
    @include sm {
      align-self: auto;
    }
    .swiper-pagination-bullet {
      // width: 15px;
      // height: 15px;
      // padding: 0px 2px;
      // background: #ffffff;
      // margin: 0px 10px !important;
      // opacity: 1;
      opacity: 1;
      margin: 0px 5px;

      @include xs {
        width: 35px;
        img {
          width: 35px;
        }
      }
      @include sm {
        width: 60px;
        img {
          width: 60px;
        }
      }
    }

    .swiper-pagination-bullet-active {
      // background: #00accd;
      img {
        border: 5px solid #00accd;
      }
    }
  }
}

.toggleBox {
  @include xs {
    justify-content: center;
  }
  @include lg {
    justify-content: inherit;
    margin-left: 20px;
  }
}
