<div class="faceSwiper">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center align-items-center">
          <div class="imgBox px-5">
            <div>
              <img src="../../assets/images/patient_face_1.png" alt="patient face 1">
            </div>
          </div>
          <div class="textBox">
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_subject1'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_age1'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_gender1'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_copy1'|translate" style="font-weight: 300;">
            </h5>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center align-items-center">
          <div class="imgBox px-5">
            <div>
              <img src="../../assets/images/patient_face_2.png" alt="patient face 2">
            </div>
          </div>
          <div class="textBox">
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_subject2'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_age2'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_gender2'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_copy2'|translate" style="font-weight: 300;">
            </h5>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center align-items-center">
          <div class="imgBox px-5">
            <div>
              <img src="../../assets/images/patient_face_3.png" alt="patient face 3">
            </div>
          </div>
          <div class="textBox">
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_subject3'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_age3'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_gender3'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_copy3'|translate" style="font-weight: 300;">
            </h5>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="backgroundContainer d-flex justify-content-center align-items-center">
          <div class="imgBox px-5">
            <div>
              <img src="../../assets/images/patient_face_4.png" alt="patient face 4">
            </div>
          </div>
          <div class="textBox">
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_subject4'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_age4'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_gender4'|translate">
            </h5>
            <h5 [innerHTML]="'EFFICACY_PROFILE.face_copy4'|translate" style="font-weight: 300;">
            </h5>
          </div>
        </div>
      </div>


    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </swiper>
</div>
