@import "../../styles/style.scss";

section {
  position: relative;
}

.landing {
  background-image: url("../../assets/images/home_background.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  padding-bottom: 1.5rem;
  color: $font_white;
  .textBox {
    padding: 0 5%;
    .title_h1 {
      text-align: right;
      font-weight: 400;
      @include xs {
        font-size: 40px;
        padding-left: 25%;
        padding-top: 110px;
        padding-bottom: 25px;
      }
      @include sm {
        font-size: $title_h1_font_size;
        padding-left: 41%;
        padding-top: 70px;
        padding-bottom: 80px;
      }
      @include md {
        padding-left: 48%;
      }
      @include lg {
        padding-left: 52%;
      }
    }
    .title_h2 {
      font-weight: bold;
      @include sm {
        padding-left: 10%;
      }
      @include md {
      }
      @include lg {
        padding-left: 10%;
      }
    }

    .title_p {
      padding-top: 20px;
      @include sm {
        padding-left: 10%;
      }
      @include md {
      }
      @include lg {
        padding-left: 10%;
      }
    }
  }
  .w-80 {
    width: 80%;
    @include sm {
      width: 60%;
    }
    @include md {
      width: 50%;
    }
  }
}

.policy_bar {
  color: $font_blue;
  text-align: center;
  a {
    font-size: 14px;
    font-family: $Helvetica;
    color: $font_blue;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    @include xs {
      font-size: 12px;
    }
    @include sm {
      font-size: 14px;
    }
    @include lg {
    }
  }
}

.prevalence_of_acne {
  background-image: url("../../assets/images/prevalence_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  color: $font_white;
  @include xs {
    height: auto;
    min-height: 715px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
  }
  @include sm {
  }
  @include md {
    height: 715px;
  }
  .whiteContainer {
    width: 100%;
    height: 100%;
    @include xs {
      padding-left: 1%;
      padding-right: 1%;
    }
    @include sm {
    }
    @include md {
      padding-left: 1%;
      padding-right: 1%;
    }
    @include lg {
      padding-left: 3%;
    }
    @include xl {
      padding-left: 20%;
    }
    .whiteBox {
      background-color: #ffffff;
      width: 40%;
      height: 48%;
    }
  }
}

.burden_of_acne {
  padding-bottom: 5vh;
  h1 {
    color: $font_blue;
    font-family: $Oregon;
    padding: 50px 0px 30px 0px;
    font-weight: 400;
  }
  .roundedblueBox {
    background-color: $site_ligtblue;
    border-radius: 60px;
    h3 {
      color: $font_white;
      font-family: $Oregon;
      margin-bottom: 0;
    }
    h5 {
      color: $font_white;
      font-family: $Univers;
      line-height: 1.5;
      margin-bottom: 0;
    }
    .imgInBox {
      margin-left: auto;
      @include md {
        margin-left: -20px;
      }
    }
    .imgColInBox {
      @include md {
        text-align: left;
      }
    }
  }
  .row {
    h5 {
      line-height: 1.5;
      font-family: $Univers;
    }
  }
  img {
    width: 110px;
  }
}

.overview {
  background-image: url("../../assets/images/wallpaper_2.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  height: 680px;
  width: 100%;
  color: $font_white;
  padding: 50px 20px;
  text-align: left;
  @include xs {
    height: auto;
  }
  @include md {
    height: 680px;
  }
  .imgBox {
    text-align: center;
    img {
      max-width: 250px;
      min-width: 150px;
      width: 100%;
    }
    .micetype {
      font-size: 10px;
      font-family: $Univers;
      @include xs {
        font-size: 8px;
      }
      @include md {
        font-size: 10px;
      }
    }
  }

  h1 {
    font-family: $Oregon;
    @include xs {
      font-size: 30px;
      padding-top: 20px;
      text-align: center;
    }
    @include sm {
      text-align: left;
    }
    @include md {
      font-size: $h1_font_size;
    }
  }
  h3 {
    font-family: $Oregon;
    padding: 40px 0px 20px 0px;
    font-weight: 400;
    @include sm {
      font-size: 20px;
    }
    @include md {
      font-size: $h3_font_size;
    }
  }
}

.efficacyprofile {
  background-image: url("../../assets/images/efficacy_profile_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  height: 715px;
  width: 100%;
  .whiteContainer {
    padding-right: 5%;
    width: 100%;
    height: 100%;
    .whiteBox {
      background-color: #ffffff;
      @include xs {
        padding: 5% 10px;
        width: 60%;
      }
      @include md {
        padding: 5% 10px;
        width: 50%;
      }
      @include lg {
        padding: 5% 10px;
        width: 40%;
      }
      h1 {
        color: $font_blue;
        font-family: $Oregon;
        font-weight: 400;
      }
      h2 {
        font-family: $Univers;
        color: $font_grey;
        font-weight: bold;
      }
      p {
        font-size: 14px;
        color: $font_grey;
        font-family: $Univers;
        padding: 10px 0px;
        font-weight: bold;
      }
      img {
        width: 90px;
      }
      @include md {
        //width: 50%;
        img {
          width: 120px;
        }
      }
    }
  }
}

.safetyprofile {
  background-image: url("../../assets/images/wallpaper_5.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  padding: 10vh 5%;
  .main {
    background-color: #ffffff;
    p {
      font-size: 14px;
      color: $font_grey;
      font-family: $Univers;
      padding: 10px 0px;
    }
    .scheduleBox {
      background-image: url("../../assets/images/Rectangle_2.png");
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: top;
      background-size: cover;
      border-radius: 10px;
      padding: 20px;
      img {
        @include xs {
          width: 120px;
        }
        @include sm {
          width: 150px;
        }
      }
      h2 {
        color: $font-white;
        padding-top: 20px;
      }
    }
    .textBox {
      display: flex;
      align-items: center;
      h1 {
        color: $font_blue;
        font-family: $Oregon;
        padding-bottom: 20px;
        font-weight: 400;
      }
      h2 {
        font-family: $Univers;
        color: $font_grey;
        padding-bottom: 20px;
      }
    }
  }
  @include md {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
}

.howtouse {
  h1 {
    color: $font_blue;
    font-family: $Oregon;
    padding-top: 50px;
    font-weight: 400;
  }
  h2 {
    font-family: $Univers;
    color: $font_darkGrey;
    padding: 20px 0px;
  }

  .row {
    h4 {
      font-weight: bold;
      font-family: $Univers;
      color: $font_grey;
      padding: 30px;
    }
  }

  @include xs {
    .clearBorder {
      border: none;
    }
    .removeBorder {
      border: none;
    }
  }

  @include sm {
    .removeBorder {
      border: none !important;
    }
    .mdBorder {
      border-right: 1px solid $border_grey;
    }
  }
  @include md {
    .mdBorder {
      border-right: 1px solid $border_grey;
    }
    .removeBorder {
      border-right: 1px solid $border_grey !important;
    }
  }

  .howToUseImg {
    max-height: 30vh;
    max-width: 70%;
    margin-bottom: 10vh;
    @include md {
      margin-bottom: 0;
    }
  }
  .sunProtectImage {
    max-height: 30vh;
    margin-bottom: 10vh;
    @include xs {
      max-width: 30%;
    }
    @include sm {
      margin-bottom: 0;
      max-width: 70%;
    }
  }
}

.managingirritation {
  background-image: url("../../assets/images/managing_irritation_background_transparent.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  height: 715px;
  width: 100%;
  .whiteContainer {
    padding-right: 5%;
    width: 100%;
    height: 100%;
    .whiteBox {
      background-color: #ffffff;
      @include xs {
        padding: 5% 10px;
        width: 60%;
      }
      @include md {
        padding: 5% 10px;
        width: 50%;
      }
      @include lg {
        padding: 5% 30px;
        width: 40%;
      }
      h1 {
        color: $font_blue;
        font-family: $Oregon;
        font-weight: 400;
      }
      h2 {
        font-family: $Univers;
        color: $font_grey;
        padding-top: 20px;
        padding-bottom: 40px;
      }

      @include md {
        img {
          width: 120px;
        }
      }
    }
  }
}

.resources {
  background-image: url("../../assets/images/wallpaper_2.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 10vh 5% !important;
  .main {
    background-color: #ffffff;
    height: 100%;
    margin: 10%;
    .downloadBox {
      img {
        width: 100px;
      }
      h5 {
        font-family: $Univers;
        color: $font_middleGrey;
        padding-top: 10px;
        padding-bottom: 20px;
        font-weight: bold;
      }
    }
    .textBox {
      h1 {
        color: $font_blue;
        font-family: $Oregon;
        padding-bottom: 10px;
        font-weight: 400;
      }
      h2 {
        font-family: $Univers;
        color: $font_grey;
        padding-bottom: 20px;
      }
      p {
        font-size: 14px;
        color: $font_grey;
        font-family: $Univers;
        padding: 0px 0px 40px;
        font-weight: bold;
      }
    }
  }
  @include md {
    padding-top: 15vh !important;
    padding-bottom: 15vh !important;
  }
}

.backtotop {
  width: 65px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 11;
  img {
    width: 30px;
  }
  p {
    font-size: 8px;
    text-decoration: none;
    padding-top: 5px;
  }
  .white_text {
    color: $font_white;
  }
  .grey_text {
    color: $font_grey;
  }
  &:hover {
    cursor: pointer;
  }
}
