<div [hidden]="accessed">
  <app-safetyinformation></app-safetyinformation>
</div>

<section id="landing">
  <div class="landing d-flex justify-content-end">
    <div class="textBox d-inline-block" style="vertical-align: middle;">
      <h1 class="title_h1" [innerHTML]="'HOME.headline'|translate">
      </h1>
      <h2 class="title_h2" [innerHTML]="'HOME.subhead'|translate">
      </h2>
      <p class="title_p" [innerHTML]="'HOME.subhead_copy'|translate">
      </p>
    </div>
  </div>
  <div class="policy_bar" hidden>
    <a href="{{currentLanguage}}/privacypolicy">{{'POLICY_BAR.privacy_policy'|
      translate}}
    </a>
    |
    <a href="{{currentLanguage}}/cookiepolicy">{{'POLICY_BAR.cookie_policy'|
      translate}}
    </a>
    |
    <a href="{{currentLanguage}}/safetyinformation">{{'POLICY_BAR.safety_information'|
      translate}}
    </a>
  </div>

</section>
<section id="prevalence_of_acne">
  <div class="prevalence_of_acne">
    <div class="whiteContainer d-flex align-items-center">

      <div style="width:100%">
        <app-homeprevalences-swiper></app-homeprevalences-swiper>
      </div>

    </div>
  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_white.PNG" alt="back to top">
    </div>
    <div>
      <p class="white_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
<section id="burden_of_acne">
  <div class="burden_of_acne main">
    <h1 class="text-center">
      {{'HOME.burden_of_acne_headline'|translate | uppercase}}
    </h1>
    <div class="row roundedblueBox pl-md-0 text-center">
      <div class="col-12 col-md-2 imgColInBox">
        <img src="../../assets/images/acne_back.png" alt="acne on back" style="width: 120px;" class="imgInBox">
      </div>
      <div class="col-12 col-md-10 align-self-center">
        <h3>
          {{'HOME.burden_of_acne_subhead'|translate | uppercase}}
        </h3>
        <h5 [innerHTML]="'HOME.burden_of_acne_callout'|translate">
        </h5>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="text-center py-4">
          <img src="../../assets/images/burdenofacne_icon_1.png" alt="sad face">
        </div>
        <div class="text-center">
          <h5 [innerHTML]="'HOME.burden_of_acne_copy1'|translate">

          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="text-center py-4">
          <img src="../../assets/images/burdenofacne_icon_2.png" alt="thunder">
        </div>
        <div class="text-center">
          <h5 [innerHTML]="'HOME.burden_of_acne_copy2'|translate">

          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="text-center py-4">
          <img src="../../assets/images/burdenofacne_icon_3.png" alt="gift">
        </div>
        <div class="text-center">
          <h5 [innerHTML]="'HOME.burden_of_acne_copy3'|translate">

          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="text-center py-4">
          <img src="../../assets/images/burdenofacne_icon_4.png" alt="stairs">
        </div>
        <div class="text-center">
          <h5 [innerHTML]="'HOME.burden_of_acne_copy4'|translate">

          </h5>
        </div>
      </div>
    </div>

  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_grey.png" alt="back to top">
    </div>
    <div>
      <p class="grey_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
<section id="overview">
  <div class="overview d-flex align-items-center row mx-0">
    <div class="imgBox px-5 col-lg-3 col-sm-5 col-12">
      <div>
        <img *ngIf="currentLanguage == 'en'" src="../../assets/images/Aklief_product_box_en.png"
          alt="Aklief product in English">
        <img *ngIf="currentLanguage == 'fr'" src="../../assets/images/Aklief_product_box_fr.png"
          alt="Aklief product in French">
      </div>

      <div>
        <p class="micetype" [innerHTML]="'HOME.overview_of_aklef_micetype1' |translate"></p>
        <p class="micetype" [innerHTML]="'HOME.overview_of_aklef_micetype2' |translate"></p>

      </div>
    </div>
    <div class="col-lg-9 col-sm-7 col-12">
      <h1>
        {{'HOME.overview_of_aklef_headline' |translate| uppercase}}
      </h1>
      <h3 [innerHTML]="'HOME.overview_of_aklef_subhead' |translate| uppercase">
      </h3>
      <div>
        <app-homeoverviewswiper></app-homeoverviewswiper>
      </div>
    </div>

  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_white.PNG" alt="back to top">
    </div>
    <div>
      <p class="white_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
<section>
  <div class="efficacyprofile">
    <div class="whiteContainer row justify-content-center justify-content-md-end align-items-center">
      <div class="whiteBox text-center">
        <h1>
          {{'HOME.efficacy_profile_headline'|translate|uppercase}}
        </h1>
        <h2>
          {{'HOME.efficacy_profile_subhead'|translate|uppercase}}
        </h2>
        <p>
          {{'HOME.efficacy_profile_copy'|translate|uppercase}}
        </p>
        <div>
          <img src="../../assets/images/efficacy_profile_icon.png" alt="chart icon">
        </div>
        <div class="blue_button">
          <a href="{{currentLanguage}}/efficacyprofile" class="button">
            {{'BUTTON.see_results' | translate | uppercase}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_white.PNG" alt="back to top">
    </div>
    <div>
      <p class="white_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
<section>
  <div class="safetyprofile d-flex align-items-center justify-content-center">
    <div class="main px-5 pt-5 pb-3">
      <div class="row">
        <div class="col mb-3 mb-md-0">
          <div class="scheduleBox text-center">
            <div>
              <img src="../../assets/images/Calendar.png" alt="Calendar">
            </div>
            <h2>
              {{'HOME.safety_profile_callout'|translate|uppercase}}
            </h2>
          </div>
          <p class="text-center">
            {{'HOME.safety_profile_eyebrown'|translate|uppercase}}
          </p>
        </div>
        <div class="col text-center textBox">
          <div>
            <h1>
              {{'HOME.safety_profile_headline'|translate|uppercase}}
            </h1>
            <h2 [innerHTML]="'HOME.safety_profile_subhead'|translate|uppercase">
            </h2>

            <div class="blue_button">
              <a href="{{currentLanguage}}/safetyprofile" class="button">
                {{'BUTTON.learn_more' | translate | uppercase}}
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_white.PNG" alt="back to top">
    </div>
    <div>
      <p class="white_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
<section>
  <div class="howtouse main text-center">
    <h1>
      {{'HOME.how_to_use_headline'|translate|uppercase}}
    </h1>
    <h2>
      {{'HOME.how_to_use_subhead'|translate|uppercase}}
    </h2>
    <div class="row mb-5">
      <div class="col-12 col-sm-6 col-md-3 text-center mdBorder clearBorder">
        <h4>
          {{'HOME.how_to_use_copy1'|translate|uppercase}}
        </h4>
        <img class="howToUseImg" src="../../assets/images/Cleanse.png" alt="Cleanse">
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mdBorder removeBorder clearBorder">
        <h4>
          {{'HOME.how_to_use_copy2'|translate|uppercase}}
        </h4>
        <img class="howToUseImg" src="../../assets/images/Apply.png" alt="Apply">
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mdBorder clearBorder">
        <h4>
          {{'HOME.how_to_use_copy3'|translate|uppercase}}
        </h4>
        <img class="howToUseImg" src="../../assets/images/Moisturize.png" alt="Moisturize">
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center">
        <h4>
          {{'HOME.how_to_use_copy4'|translate|uppercase}}
        </h4>
        <div class="d-flex align-items-center justify-content-center h-100">
          <img class="sunProtectImage" src="../../assets/images/Sun Protection.png" alt="Sun Protection">
        </div>
      </div>
    </div>
    <div class="blue_button">
      <a href="{{currentLanguage}}/howtouse" class="button">
        {{'BUTTON.how_to_use' | translate | uppercase}}
      </a>
    </div>
  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_grey.png" alt="back to top">
    </div>
    <div>
      <p class="grey_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
<section>
  <div class="managingirritation mt-5">
    <div class="whiteContainer d-flex justify-content-center justify-content-md-end align-items-center">
      <div class="whiteBox text-center">
        <h1>
          {{'HOME.managing_irritation_headline'|translate|uppercase}}
        </h1>
        <h2>
          {{'HOME.managing_irritation_subhead'|translate|uppercase}}
        </h2>
        <div class="blue_button">
          <a href="{{currentLanguage}}/managingirritation" class="button">
            {{'BUTTON.learn_more' | translate | uppercase}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_white.PNG" alt="back to top">
    </div>
    <div>
      <p class="white_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
<section>
  <div class="resources d-flex align-items-center justify-content-center">
    <div class="main px-5 pt-5 pb-3">
      <div class="row">
        <div class="col-12 col-md-6 text-center textBox">
          <h1>
            {{'HOME.resources_headline'|translate|uppercase}}
          </h1>
          <h2 [innerHTML]="'HOME.resources_subhead'|translate|uppercase">
          </h2>
          <p [innerHTML]="'HOME.resources_copy'|translate|uppercase">
          </p>
          <div class="blue_button">
            <a href="{{currentLanguage}}/resources" class="button">
              {{'BUTTON.download' | translate | uppercase}}
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="downloadBox row">
            <div class="col-12 col-sm-6 text-center">
              <div>
                <img *ngIf="currentLanguage=='en'" src="../../assets/images/Resource_download_icon1_en.png"
                  alt="Acne Assessment Tool icon in English">
                <img *ngIf="currentLanguage=='fr'" src="../../assets/images/Resource_download_icon1_fr.png"
                  alt="Acne Assessment Tool icon in French">

              </div>
              <h5>
                {{'HOME.resources_download_subhead1' | translate | uppercase}}
              </h5>
            </div>
            <div class="col-12 col-sm-6  text-center">
              <div>
                <img *ngIf="currentLanguage=='en'" src="../../assets/images/Resource_download_icon2_en.png"
                  alt="AKLIEF Patient Info Sheet icon in English">
                <img *ngIf="currentLanguage=='fr'" src="../../assets/images/Resource_download_icon2_fr.png"
                  alt="AKLIEF Patient Info Sheet icon in French">

              </div>
              <h5>
                {{'HOME.resources_download_subhead2' | translate | uppercase}}
              </h5>
            </div>
            <div class="col-12 col-sm-6  text-center">
              <div>
                <img *ngIf="currentLanguage=='en'" src="../../assets/images/Resource_download_icon3_en.png"
                  alt="AKLIEF Patient Brochure icon in English">
                <img *ngIf="currentLanguage=='fr'" src="../../assets/images/Resource_download_icon3_fr.png"
                  alt="AKLIEF Patient Brochure icon in French">

              </div>
              <h5>
                {{'HOME.resources_download_subhead3' | translate | uppercase}}
              </h5>
            </div>
            <div class="col-12 col-sm-6 text-center">
              <div>
                <img *ngIf="currentLanguage=='en'" src="../../assets/images/Resource_download_icon4_en.png"
                  alt="AKLIEF Product Monograph icon in English">
                <img *ngIf="currentLanguage=='fr'" src="../../assets/images/Resource_download_icon4_fr.png"
                  alt="AKLIEF Product Monograph icon in French">

              </div>
              <h5>
                {{'HOME.resources_download_subhead4' | translate | uppercase}}
              </h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="backtotop text-center" (click)="backtotop()">
    <div>
      <img src="../../assets/images/backtotop_white.PNG" alt="back to top">
    </div>
    <div>
      <p class="white_text">
        {{'BUTTON.back_to_top'|translate | uppercase}}
      </p>
    </div>
  </div>
</section>
