html,
body {
  height: 100%;
}
body {
  margin: 0 auto !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #58595b !important;
  //font-family: Helvetica, arial, sans-serif;
  //font-family: 'Roboto Condensed',Arial,sans-serif !important;
}

.mat-body,
.mat-body-1,
.mat-typography {
  font: inherit;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.main {
  width: 80%;
  margin: auto;
  max-width: $screen-xl-min;
  .text_grey {
    color: $font_grey;
  }
  @include xs {
    width: 90%;
  }
  @include lg {
    width: 70%;
  }
}

// section {
//   scroll-margin-top: 5rem;
//   padding-top: 5em;
//   margin-top: -5em;
// }

sub {
  bottom: 0 !important;
}

b {
  font-weight: bold !important;
}

//font size
h1 {
  font-size: $h1_font_size;
  font-weight: bold;
}
h2 {
  font-size: $h2_font_size;
  font-weight: bold;
}
h3 {
  font-size: $h3_font_size;
  font-weight: bold;
}
h4 {
  font-size: $h4_font_size;
  font-weight: 300;
}
h5 {
  font-size: $h5_font_size;
  font-weight: 300;
}
p {
  font-size: $p_12_font_size;
  line-height: 1.3;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
.title_h1 {
  font-size: $title_h1_font_size;
  font-family: $Oregon;
}
.title_h2 {
  font-size: $title_h2_font_size;
  font-family: $Roboto;
}
.title_p {
  font-size: $title_p_font_size;
  font-family: $Roboto;
}

ul {
  // padding-inline-start: 15px;
  padding-left: 22px !important;
  margin-bottom: 0;
}

.TEXT_30_WHITE {
  font-size: 30px;
  color: $font_white;
}
.TEXT-NOWRAP {
  white-space: nowrap;
}

.text_blue {
  color: $font_blue;
}
.text_yellow {
  color: $font_yellow;
}
.text_itals {
  // font-family: Arial, Helvetica, sans-serif;
  //font-family: $Univers_light_itals;
  font-style: italic;
}
.TEXT_ARIAL {
  font-family: $Roboto
}
.text_bold {
  font-weight: 700;
}
.li_bold {
  font-weight: 700;
  font-family: $Roboto;
}

/* a tag style */
a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
